altair @ file:///C:/Users/task_176700181797393/croot/altair_1767001927492/work
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.2.0
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356943133/work
babel==2.18.0
beautifulsoup4==4.14.3
bleach==6.3.0
blinker @ file:///C:/miniconda3/conda-bld/blinker_1764332307774/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938212172/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961392766/work
cachetools @ file:///C:/miniconda3/conda-bld/cachetools_1764867585295/work
certifi @ file:///C:/Users/task_176765924091863/croot/certifi_1767659364229/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832793693/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744988796/work
click @ file:///C:/miniconda3/conda-bld/click_1764332357576/work
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
comm==0.2.3
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643941183/work
cycler @ file:///C:/Users/task_176606795666152/croot/cycler_1766068071140/work
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
executing==2.2.1
fastjsonschema==2.21.2
fonttools @ file:///C:/Users/dev-admin/buildout/croot/fonttools_1768580908301/work
fpdf==1.7.2
fqdn==1.5.1
gitdb @ file:///C:/Users/dev-admin/buildout/croot/gitdb_1759961742190/work
GitPython @ file:///C:/Users/task_176787383081919/croot/gitpython_1767874170828/work
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna @ file:///C:/Users/dev-admin/buildout/croot/idna_1762551230734/work
ipykernel==7.2.0
ipython==9.11.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.19.2
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema @ file:///C:/Users/task_176795547555139/croot/jsonschema_1767955583625/work
jsonschema-specifications @ file:///C:/miniconda3/conda-bld/jsonschema-specifications_1762788613712/work
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159361484/work
lark==1.3.1
MarkupSafe @ file:///C:/Users/dev-admin/buildout/croot/markupsafe_1759955189290/work
matplotlib==3.10.8
matplotlib-inline==0.2.1
mistune==3.2.0
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592920453/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593081220/work
narwhals @ file:///C:/Users/dev-admin/buildout/croot/narwhals_1761941333126/work
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.5.4
notebook_shim==0.2.4
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165726164/work
numpy @ file:///C:/Users/task_177073258983153/croot/numpy_and_numpy_base_1770732694990/work/dist/numpy-2.4.2-cp314-cp314-win_amd64.whl#sha256=6fff17093562f8f8e5d85d803b974fe59006e05c78f4a39ca308d1f926dbbcc7
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049098810/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332435977/work/dist/pandas-2.3.3-cp314-cp314-win_amd64.whl#sha256=ac6b8c30836d425b7de9199ad67d79b5d4d36663122fd5a70d81bfc894c0da42
pandocfilters==1.5.1
parso==0.8.6
patsy @ file:///C:/Users/task_176761405042140/croot/patsy_1767614397427/work
pillow @ file:///C:/Users/task_177247533086231/croot/pillow_1772475424069/work
platformdirs==4.9.2
plotly==6.6.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
protobuf @ file:///C:/Users/task_177065977158144/croot/protobuf_1770660508088/work/bazel-bin/python/dist/protobuf-6.33.5-cp314-abi3-win_amd64.whl#sha256=c878ac329aae94345c9ee5a46cd680764f0bdfaae74e0ad36aa26b0ba59c002b
psutil==7.2.2
pure_eval==0.2.3
pyarrow @ file:///C:/Users/task_177193728995609/croot/pyarrow_1771937464308/work/python
pycparser @ file:///C:/Users/dev-admin/buildout/croot/pycparser_1759955361075/work
Pygments==2.19.2
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973805642/work
PyQt6==6.10.2
PyQt6_sip @ file:///C:/Users/task_177247662504609/croot/pyqt-split_1772477410659/work/pyqt_sip
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753029698/work
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
python-json-logger==4.0.0
pytz @ file:///C:/Users/dev-admin/buildout/croot/pytz_1759958332927/work
pywinpty==3.0.3
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465514484/work
pyzmq==27.1.0
referencing @ file:///C:/miniconda3/conda-bld/referencing_1762536906066/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359708170/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rpds-py @ file:///C:/miniconda3/conda-bld/rpds-py_1762366636411/work
scikit-learn==1.8.0
scipy @ file:///C:/Users/task_177149184792278/croot/scipy_1771491954068/work/dist/scipy-1.17.0-cp314-cp314-win_amd64.whl#sha256=cf9ff4ed57eeb9696655fbbb23448fe334fc496dfbb2c3b5073fa5cfe9e907a7
seaborn @ file:///C:/Users/dev-admin/buildout/croot/seaborn_1762566511451/work
Send2Trash==2.1.0
setuptools==80.10.2
sip @ file:///C:/Users/task_177080690577686/croot/sip_1770807597220/work
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
soupsieve==2.8.3
stack-data==0.6.3
statsmodels @ file:///C:/miniconda3/conda-bld/statsmodels_1765533134081/work
streamlit @ file:///C:/Users/task_177028915403141/croot/streamlit-split_1770289358442/work/streamlit
tenacity @ file:///C:/Users/task_176718479354661/croot/tenacity_1767184918490/work
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/Users/dev-admin/buildout/croot/tornado_1768567268628/work
traitlets==5.14.3
typing_extensions @ file:///C:/Users/dev-admin/buildout/croot/typing_extensions_1759955056205/work
tzdata @ file:///home/task_176829656558347/croot/python-tzdata_1768296637279/work
uri-template==1.3.0
urllib3 @ file:///C:/Users/task_176781036399437/croot/urllib3_1767810487549/work
watchdog @ file:///C:/Users/dev-admin/buildout/croot/watchdog_1759968437007/work
wcwidth==0.6.0
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.46.3
widgetsnbextension==4.0.15
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746275387/work
